:root {
    --color-primary:#21242C;
    --color-secondary:#D99932;
    --color-tertiary: #292D36;
    --color-grey: #67696C;
    --color-white: #D9DBDD;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--color-white);
    list-style-type: none;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    color: var(--color-white);
    background-color: var(--color-primary);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

img {
    width: 100%;
}

button {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
    margin: 0 auto;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

.btnContainer {
    display: flex;
    margin-top: 3rem;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

aside {
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    z-index: 100;
}

.aside__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 2rem;
}

.aside__menu span {
    font-weight: 600;
    font-size: .9rem;
    color: var(--color-secondary);
}

.aside__menu ul {
    width: 100%;
    margin-top: 1rem;
}

.aside__menu ul li {
    margin-top: 1rem;
    cursor: pointer;
}

.aside__menu ul li a {
    font-weight: 300;
}

.logo__container{
    display: flex;
    align-items: center;
}

.logo__container img {
    width: 50px;
}

nav ul {
    display: none;
}

.main {
    padding-bottom: 3rem;
}

.search__container {
    width: 100%;
    height: 5rem;
}

.search__bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}

.search__bar input {
    width: 100%;
    min-width: 320px;
    height: 4rem;
    padding-left: 3rem;
    font-weight: bold;
    background-color: var(--color-tertiary);
    color: var(--color-grey);
    border: none;
    border-radius: 2rem;
}

.search__bar img:first-child {
    position: absolute;
    left: 3rem;
    width: 1.5rem;
    filter: brightness(0) saturate(100%) invert(29%) sepia(15%) saturate(278%) hue-rotate(182deg) brightness(88%) contrast(83%);
}
.search__bar .angle-rigth {
    position: absolute;
    right: 3rem;
    width: 1.5rem;
    filter: brightness(0) saturate(100%) invert(29%) sepia(15%) saturate(278%) hue-rotate(182deg) brightness(88%) contrast(83%);
    cursor: pointer;
}

.search-result__container {
    margin-top: 3rem;
}

.result__title {
    margin-bottom: 2rem;
}

.view__title {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 1400px;
    height: 50vh;
    max-height: 70vh;
    margin: 0 auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    padding: .5rem;
    border-radius: .8rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

.back-arrow img {
    filter: invert(91%) sepia(3%) saturate(149%) hue-rotate(169deg) brightness(95%) contrast(97%);
}

.mobileCategories__container {
    display: grid;
    place-items: center;
}

.mobileCategories {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    overflow-x: scroll;
}

.mobileCategories li {
    width: auto;
    margin-left: 2rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    box-shadow: 2px 7px 8px -2px rgba(0,0,0,0.45);
-webkit-box-shadow: 2px 7px 8px -2px rgba(0,0,0,0.45);
-moz-box-shadow: 2px 7px 8px -2px rgba(0,0,0,0.45);
    cursor: pointer;
}

.categories__container ul li:first-child {
    margin-left: 0;
}

.category-title {
    margin: 2rem;
}

.--carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95%;
    height: 100%;
}

.--carousel > div > img {
    height: 25rem;
    border-radius: 3rem;
}

.generic__section {
    width: 100%;
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 5rem;
}

.title__container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.seeMore__btn {
    width: 5rem;
    color: var(--color-secondary);
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.this-month__movie {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    height: 100%;
    padding: 2rem;
}

.genericMedia__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    height: 100%;
    padding: 2rem;
}

.video__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    overflow: hidden;
}

.movie__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-align: center;   
}

.media__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-align: center;  
}

.video__info div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.video__info div:nth-child(2) img {
    margin-right: .2rem;
}


.carousel__controls {
    width: 100%;
    text-align: center;
}

.relatedMovies span {
    padding-left: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
    border-top: 1px solid var(--color-tertiary);
}

.disabled {
    display: none;
}

/* Categorie detail section */

.categorie__title {
    margin: 2rem 0;
}

.movie-preview__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    max-width: 1800px;
    margin: 0 auto;
}

.categorie-movie__preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 150px;
    max-width: 180px;
    height: auto;
    margin: .5rem;
}

.categorie-movie__preview > img {
    height: 15rem;
    border-radius: 3rem;
}

.media-detail__container {
    width: 100%;
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    height: auto;
    padding: 1rem;
    background-color: var(--color-primary) ;
}

.media__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video__info--noMargin {
    margin: 0;
}

.media__info {
    margin-top: 2rem;
}

.media__info p {
    line-height: 1.6rem;
    text-align: left;
}

.media__directors {
    margin-top: 1rem;
}

.media__genres {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grey);
    margin-top: 2rem;
}

.media__genre {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.cast__member img {
    width: 5rem;
    height: 5rem;
}

.cast__member span:first-child {
    margin: .5rem 0;
}

.fade-in {
    animation: fade-in 2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}