.main {
    margin-left: 200px;
    border-left: 1px solid var(--color-tertiary);
}

h1 {
    font-size: 2.5rem;
}

section > div > h2 {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 2rem;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid var(--color-tertiary);
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 2rem;
    list-style: none;
}

nav a {
    font-size: 1.1rem;
    font-weight: 500;
}

.search__bar input {
    font-size: 1rem;
}

.categories {
    display: none;
}


aside {
    display: block;
}



/* animation */

/* @keyframes navbar {
    0% { 
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes header {
    0% {
        transform: translateX(-5000px);
    }

    100% {
        transform: translateX(0px);
    }
} */